
@{
    ViewBag.Title = "UpdatePrototypeMember";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<main class="" style="padding-top: 5.5rem; margin-left: 5%; margin-right: 5%;">
    <div class="container-fluid">
        <!-- Section: Edit Account -->
        <section class="section">
            <div class="row">
                <div class="row white z-depth-1 mb-r col-lg-12" style="margin-bottom: 0rem !important;left:23px">

                    <!-- Navigation -->
                    <div class="col-6">
                        <h4 class="h4-responsive mt-1"><a href="/editaccount">Edit Account</a></h4>
                    </div>

                    @*<div class="col-md-6 text-md-right">
                        <a href="#" class="btn btn-secondary waves-effect waves-light">Pay now</a>
                        <a href="#" class="btn btn-primary waves-effect waves-light"><i class="fa fa-print left"></i> Print</a>
                    </div>*@
                    <!-- /.Navigation -->

                </div>
            </div>
            <!-- First row -->
@*@using (Html.BeginForm("UpdateMember", "Member", FormMethod.Post, new { enctype = "multipart/form-data" }))
{*@
            <div class="row">

                <!-- First column -->
                <div class="col-lg-4">

                    <!-- Card -->
                    <div class="card contact-card card-cascade narrower mb-r">
                        <div class="admin-panel info-admin-panel">
                            <!-- Card title -->
                            <div class="view primary-color">
                                <h5>Edit Photo</h5>
                            </div>
                            <!-- /.Card title -->
                            <!-- Card content -->
                            <div class="card-block text-center">
                                <img src="/Images/images.png" style="height:100px;width:100px; border-radius:100px" alt="User Photo" id="avatar" class="rounded-circle contact-avatar my-2 mx-auto" />

                                <p class="text-muted"><small>Profile photo will be changed automatically</small></p>
                                <input type="file" id="fileup" name="fileup" value="Upload New Photo" />

                                <button class="btn btn-primary">Upload New Photo</button><br>
                                <button class="btn btn-danger">Delete</button>
                            </div>
                            <!-- /.Card content -->
                        </div>
                    </div>
                    <!-- /.Card -->

                </div>
                <!-- /.First column -->
                <!-- Second column -->
                <div class="col-lg-8">
                    <!--Card-->
                    <div class="card card-cascade narrower mb-r">
                        <div class="admin-panel info-admin-panel">
                            <!--Card image-->
                            <div class="view primary-color">
                                <h5>Edit Account</h5>
                            </div>
                            <!--/Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!-- Edit Form -->
                                <form>
                                    <!--First row-->
                                    @*<div class="row">
                                            <!--First column-->
                                            <div class="col-md-6">
                                                <div class="md-form">
                                                    <input type="text" id="form1" class="form-control validate" value="Company, inc" disabled>
                                                    <label for="form1" data-error="wrong" data-success="right">Company</label>
                                                </div>
                                            </div>
                                            <!--Second column-->
                                            <div class="col-md-6">
                                                <div class="md-form">
                                                    <input type="text" id="form2" class="form-control validate">
                                                    <label for="form2" data-error="wrong" data-success="right">Username</label>
                                                </div>
                                            </div>
                                        </div>*@
                                    <!--/.First row-->
                                    <!--First row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="md-form">
                                                    <input type="text" id="txtE-mail" name="txtE-mail" value="@Session["username"]" class="form-control validate">
                                                    <label for="form76">E-mail</label>
                                                </div>
                                            </div>
                                            @*<div class="col-md-6">
                                                <div class="md-form">
                                                    <input type="text" id="txtEmail" name="txtEmail" value="@Session["username"]" class="form-control validate" placeholder="email">
                                                </div>
                                                @*<label for="form81" data-error="wrong" data-success="right">Email Address</label>

                                            </div>*@
                                            <!--Second column-->
                                            <div class="col-md-6">
                                                <div class="md-form">
                                                    <input type="text" id="txtFullName" name="txtFullName" value="@Session["FullName"]" class="form-control validate">
                                                    <label for="form82" data-error="wrong" data-success="right">Full Name</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.First row-->
                                    <!--Second row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-12">
                                            <div class="col-md-6">
                                                <div class="md-form">
                                                    <input type="text" id="txtMobile" name="txtMobile" value="@Session["Mobile"]" class="form-control validate">
                                                    <label for="form76">Phone</label>
                                                </div>
                                            </div>
                                       </div>
                                                <!--Second column-->
                                                @*<div class="col-md-6">
                <div class="md-form">
                    <input type="text" id="form77" class="form-control validate">
                    <label for="form77" data-error="wrong" data-success="right">Website Address</label>
                </div>
            </div>*@
                                            </div>
                                    <!--/.Second row-->
                                    <!--Third row-->
                                    <!--/.Third row-->
                                    <!-- Fourth row -->
                                    <div class="row">
                                            <div class="col-md-12 text-center">
                                                <input type="submit" value="Update Account" onclick="return UpdateMember()" class="btn btn-primary">
                                            </div>
                                        </div>
                                    <input type="button" value="update" onclick="return UpdateMember()" />
                                    <!-- /.Fourth row -->
                                </form>
                                <!-- Edit Form -->
                            </div>
                            <!--/.Card content-->
                        </div>
                    </div>
                    <!--/.Card-->
                </div>
                <!-- /.Second column -->
            </div>
@*}*@
            <!-- /.First row -->
        </section>
        <!-- /.Section: Edit Account -->
    </div>
    <input type="hidden" id="hdmemberID" name="hdmemberID" value="@Session["memberid"]" />
</main>


<script src="/Scripts/member/member.js"></script>